table {
	width: 100%;
	border-collapse: collapse;
}

.selectedHeader {
	color: #54bbff;
	font-weight: bold;
}

tbody tr {
	height: 50px;
}

thead tr {
	height: 40px;
}

th {
	text-align: left;
	font-weight: normal;
	color: #a7a9ac;
}
